<?xml version="1.0"?>
<robot name="line_follower" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo reference="base_link">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="front_left_wheel">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="front_right_wheel">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="rear_left_wheel">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="rear_right_wheel">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="camera">
        <material>Gazebo/Black</material>
    </gazebo>
</robot>
