<?xml version="1.0"?>

<robot name="atom" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find atom_description)/urdf/variables.urdf.xacro" />
    <xacro:include filename="$(find atom_description)/urdf/common.urdf.xacro" />
    <xacro:include filename="$(find atom_description)/urdf/robot.urdf.xacro" />
    <xacro:include filename="$(find atom_description)/urdf/atom.gazebo.urdf.xacro" />
    <xacro:include filename="$(find atom_description)/urdf/plugins.urdf.xacro" />
</robot>
