<?xml version="1.0"?>

<robot name="line_follower" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find line_follower_description)/urdf/variables.urdf.xacro" />
    <xacro:include filename="$(find line_follower_description)/urdf/common.urdf.xacro" />
    <xacro:include filename="$(find line_follower_description)/urdf/robot.urdf.xacro" />
    <xacro:include filename="$(find line_follower_description)/urdf/camera.plugin.urdf.xacro" />
    <xacro:include filename="$(find line_follower_description)/urdf/line_follower.gazebo.urdf.xacro" />
    <xacro:include filename="$(find line_follower_description)/urdf/plugins.urdf.xacro" />
</robot>
