<?xml version="1.0"?>

<robot name="line_follower" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo>
    <plugin name="diff_drive_controller" filename="libgazebo_ros_diff_drive.so">
      <!-- Update rate in Hz -->
      <update_rate>50</update_rate>
      
      <num_wheel_pairs>2</num_wheel_pairs>

      <!-- wheels -->
      <left_joint>base_link_to_rear_left_wheel</left_joint>
      <right_joint>base_link_to_rear_right_wheel</right_joint>

      <left_joint>base_link_to_front_left_wheel</left_joint>
      <right_joint>base_link_to_front_right_wheel</right_joint>

      <!-- kinematics -->
       <!-- 0.7 + 2*0.01  -->
      <wheel_separation>0.72</wheel_separation>
      <wheel_separation>0.72</wheel_separation>
      <!-- 0.13 * 2 -->
      <wheel_diameter>0.26</wheel_diameter>
      <wheel_diameter>0.26</wheel_diameter>

      <!-- limits -->
      <max_wheel_torque>20</max_wheel_torque>
      <max_wheel_acceleration>1.0</max_wheel_acceleration>

      <!-- input -->
      <command_topic>cmd_vel</command_topic>

      <!-- output -->
      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
      <publish_wheel_tf>true</publish_wheel_tf>

      <odometry_topic>odom</odometry_topic>
      <odometry_frame>odom</odometry_frame>

      <robot_base_frame>base_footprint</robot_base_frame>
    </plugin>
  </gazebo>
</robot>